@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

:root {
  --base-100: #fff;
  --base-200: #e0e2db;
  --base-300: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
a,
p {
  font-family: "PP Neue Montreal", sans-serif;
  font-weight: 500;
  letter-spacing: -2%;
  line-height: 1;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background-color: var(--base-300);
  color: var(--base-100);
  will-change: clip-path;
  overflow: hidden;
  z-index: 2;
}

.preloader-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preloader-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 250px;
  height: 300px;
  transform-origin: center center;
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
  will-change: transform, clip-path;
}

.preloader-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader-header h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(2.5rem, 13vw, 19rem);
  line-height: 1.15;
}

.preloader-counter {
  position: absolute;
  top: -1.5rem;
  left: calc(100% + 1.5rem);
  overflow: hidden;
}

.preloader-counter p {
  color: var(--base-100);
  font-size: clamp(1rem, 1.5vw, 2rem);
  line-height: 0.85;
}

nav {
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 500;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

nav a {
  color: var(--base-300);
  line-height: 1;
}

.hero {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--base-200);
  color: var(--base-300);
  overflow: hidden;
}

.header {
  position: absolute;
  top: 38%;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  width: 100%;
  height: max-content;
  overflow: hidden;
}

.header h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(3rem, 18vw, 30rem);
  line-height: 1.15;
}

.hero-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.char,
.word,
.preloader-counter p {
  transform: translateY(100%);
  will-change: transform;
}

.stickygrid {
  position: relative;
  width: 100%;
  height: 1000vh;
  overflow-x: hidden;
  overflow-x: clip;
  background-color: #fdfdfd;
  color: var(--base-300);
}

.center-text {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: multiply;
}

.center-text h1 {
  color: #000;
  font-size: 8vw;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.grid-images {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.grid-image {
  position: absolute;
  top: var(--top);
  left: var(--left);
  width: var(--width);
  box-shadow: 0 0.8vw 2.5vw rgba(0, 0, 0, 0.15);
}

.grid-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  filter: grayscale(25%);
  transition: filter 0.7s ease-out;
}

.grid-image:hover img {
  filter: grayscale(0%);
}

.pin-wrapper {
  position: absolute;
  z-index: 99;
  top: 200vh;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
}

.target {
  position: relative;
  margin-left: var(--left);
  width: var(--width);
  height: 40vh;
  box-shadow: 0 0.8vw 2.5vw rgba(0, 0, 0, 0.15);
  overflow: hidden;
  pointer-events: auto;
}

.target img {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.target-overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  color: #fff;
  pointer-events: none;
}

.vision-tag {
  display: flex;
  align-items: center;
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.vision-tag .tag-index {
  margin-right: 1.25vw;
}

.vision-tag .tag-line {
  flex-grow: 1;
  height: 0.05vw;
  min-height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.vision-tag .tag-label {
  margin-left: 1.25vw;
}

.vision-body {
  position: relative;
  width: 100%;
  min-width: 0;
  flex-grow: 1;
  overflow: hidden;
}

.moving-heading-wrap {
  position: absolute;
  top: 50%;
  left: 2.5vw;
  transform: translateY(-50%);
  width: 100%;
  min-width: 0;
  max-width: 100%;
  z-index: 0;
}

.moving-heading {
  will-change: transform;
  font-size: 7vw;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  gap: 6vw;
  align-items: center;
  width: max-content;
  max-width: 100%;
}

.heading-item {
  display: inline-block;
}

.vision-desc-wrap {
  position: absolute;
  z-index: 10;
  width: 30vw;
  right: 1.5vw;
  bottom: 1.5vw;
}

.vision-desc-inner {
  position: relative;
  width: 100%;
  min-height: 12vw;
  height: 16vw;
}

.desc-block {
  position: absolute;
  inset: 0;
  margin: 0;
  width: 100%;
  font-size: 1.1vw;
  line-height: 1.4;
  font-weight: 500;
}

@media (max-width: 767px) {
  .center-text h1 {
    font-size: 13vw;
  }

  .grid-image {
    left: var(--m-left);
    width: var(--m-width);
  }

  .target {
    margin-left: var(--m-left);
    width: var(--m-width);
    height: 50vh;
  }

  .target-overlay {
    padding: 2vw;
  }

  .vision-tag {
    font-size: 3.2vw;
  }

  .vision-tag .tag-index,
  .vision-tag .tag-label {
    margin: 0 1vw;
  }

  .moving-heading-wrap {
    left: 1.5vw;
  }

  .moving-heading {
    font-size: 16vw;
    gap: 8.5vw;
  }

  .vision-desc-wrap {
    width: 80vw;
    right: 1vw;
    bottom: 0;
  }

  .vision-desc-inner {
    min-height: 25vw;
    height: 30vw;
  }

  .desc-block {
    font-size: 3.7vw;
  }
}

@media (max-width: 1000px) {
  .preloader-counter {
    top: -1.5rem;
    left: calc(100% + 0.5rem);
  }

  .nav-links {
    flex-direction: column;
    gap: 0;
    text-align: right;
  }
}